<!-- 第一部分Row:row 是行的意思，12格换一行 -->
<div class="row">
  <!-- 大row里面套了一个container -->
  <div class="content_container">
    <!-- container下面套小row1 -->
    <div class="row pt20">
      <!-- 小row下面分col－6one：实现产品图片＋？多图-->
      <div class="col-md-6 col-sm-6">
        <% if @product.image.present? %>
        <%= image_tag(@product.image.medium.url, id: "imageshow") %>
        <br><br>
        <!-- 这里就是多图了 -->
        <div style="height: 200px;">
          <span><%= image_tag @product.image.thumb.url, class: "list-image", style: "width:100px; height:100px;" %></span>
          <% @product.photos.first(3).each_with_index do |p, index| %>
          <span><%= image_tag p.avatar.thumb.url, class: "list-image", style: "width:100px; height:100px;" %></span>
          <% end %>
        </div>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
        <% end %>
      </div>
      <!-- 小row－col－6two：产品收藏＋产品信息＋加入购物车 -->
      <div class="col-md-6 col-sm-6">
        <h2>
          <%= @product.title %>
        </h2>
        <% if !@product.fans.include?(current_user)%>
        <span class="label label-default pull-right">未收藏</span>
        <% else %>
        <span class="label label-success pull-right">已收藏</span>
        <% end %>
        <div class="h100">
          <p>
            <%= @product.description %>
          </p>
        </div>
        <div class="h50">
          数量 :
          <%= @product.quantity %>
        </div>
        <div class="h80">
          ￥
          <%= @product.price %>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 pt10">
            <% if @product.quantity.present? && @product.quantity > 0 %>
            <%= link_to("加入购物车", add_to_cart_product_path(@product), method: :post,
                            class: "btn btn-lg btn-normal") %>
          <% else %>
            已销售一空，无法购买
            <% end %>
          </div>
          <div class="col-md-6 col-sm-6 pt10">
            <% if !@product.fans.include?(current_user)%>
            <%= link_to("收藏❤️", collect_product_path(@product), method: :post,
                            class: "btn btn-lg btn-wight") %>
            <% else %>
             <%= link_to("取消收藏", discollect_product_path(@product), method: :post, class: "btn btn-lg btn-wight")%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- 第二部分是container -->
<div class="content_container pb20">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#Details">商品详情</a>
    </li>
    <li>
      <a data-toggle="tab" href="#Comments">商品评论</a>
    </li>
  </ul>

  <div class="tab-content pt20">
    <div id="Details" class="tab-pane fade in active">
      <% if @product.photos.present? %>
      <% @product.photos.each_with_index do |p, index| %>
      <% if !p.avatar.url.blank? %>
      <%= image_tag p.avatar.url, resize_to_fit:[400,600], class: "thumbnail centerPhoto" %>
      <br >
      <br>
      <% end %>
      <% end %>
      <% end %>
    </div>

    <div id="Comments" class="tab-pane fade content_container">
      <div id="comment-list">
        <% @product.comments.each do |comment| %>
        <%= render :partial => "comments/comment", :locals => {:comment => comment} %>
        <% end %>
      </div>

      <%= form_for Comment.new,remote: true do |f| %>
      <%= hidden_field_tag 'product_id', @product.id %>
      <div class="form-group">
        <%= f.text_area :content, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "发表评论", :class => "create-comment btn btn-small" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$("#comment-list").on('click', ".delete-comment", function(evt){
  evt.preventDefault();
  var url = $(this).attr("href");
  $.ajax({
    url: url,
    method: 'DELETE',
    dataType: 'json',
    success: function (data) {
      $("#comment-" + data["id"]).remove();
    }
  })
})
</script>
