<div class="container" style="margin-top: 150px;">
    <div class="row">
        <div class="col-md-6">
            <% if @product.image.present? %>
              <%= image_tag(@product.image.medium.url, class: "thumbnail wow slideInLeft", data: { wow_delay: "0.2s" }) %>
            <% else %>
              <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %>
        </div>
        <div class="col-md-6">
            <h2> <%= @product.title %> </h2>
            <hr>
                <div style="height:100px;">
                  <p>
                    <%= @product.description %>
                  </p>
                  <hr>
                </div>
                <div>
                  库存 : <%= @product.quantity %>
                </div>
          <div class="product-price"> ￥ <%= @product.price %> </div>
          <hr>
          <div class="pull-left">
            <% if @product.quantity.present? && @product.quantity > 0 %>
            <% else %>
              已销售一空，无法购买
            <% end %>

            <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
          </div>
        </div>
    </div>
</div>

<!-- comments 页面 韵儿爸爸 -->
<div class="container mt30">
    <div class="row">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#tab_default_1" data-toggle="tab">商品详情</a>
        </li>
        <li>
          <a href="#tab_default_2" data-toggle="tab">用户评价</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
        <!-- 商品详情区域 -->
        <div class=" row tab-pane active" id="tab_default_1">
          <%= simple_format(@product.title) %>
        </div>

          <!-- 商品评论区域 -->
        <div class="product-particulars-box row tab-pane" id="tab_default_2">
          <% if @product.comments.blank? %>
            <p class="tr">这个商品还没有人评论，来为ta添加一个吧！</p>
            <%= render "comments/form" %>
          <% else %>
            <table class="table">
                <thead>
                  <tr>
                    <th>评论内容</th>
                    <th>发表用户</th>
                    <th>发表时间</th>
                  </tr>
                </thead>
                <tbody>
                  <% @comments.each do |comment| %>
                    <tr>
                      <td><%= comment.content %></td>
                      <td><%= comment.user.email %></td>
                      <td><%= comment.created_at %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
            <% end %>
          </div>
     </div>
</div>




<!-- <div id="getting-started"></div>
<script type="text/javascript">
  $("#getting-started")
  .countdown("2018/01/01", function(event) {
    $(this).text(
      event.strftime('%D days %H:%M:%S')
    );
  });
</script> -->
