<!DOCTYPE html>
<html>
    <head>
        <title>JDStore </title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render "common/flashes" %>
        <div class="container-fluid">
        <div class="row">


            <%= render "common/navbar" %>

            <%= yield %>
        </div>
        </div>

        <%= render "common/footer" %>
        <script src="https://qiyukf.com/script/f38a7908ec0d4bf9081f96296ee74bba.js" defer async></script>

    </body>



</html>
